@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {

    --color-primary: #000000;
    --color-primary-hover: #1a1a1a;
    --color-primary-light: #f3f4f6;

    --color-secondary: #1f2937;

    --color-accent-1: #333333;
    --color-accent-2: #4b5563;

    /* ------------------------------------------- */

    --font-sans: 'Cairo', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
    body {
        direction: rtl;
        text-align: right;
        background-color: #f8fafc;
    }
}
